* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 24px;
}
.container {
  max-width: 1170px;
  padding: 0 auto;
  margin: 0 auto;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  margin-left: 50px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
