<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/fight.css">
  <title>В путь</title>
  <style>
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }

  #myBar {
    width: 100%;
    height: 30px;
    background-color: #ff0000;
  }
  </style>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">Здоровье = <span id="health"></span></li>
            <li class="menu__list-item">быырпах = <span id="small_heal"></span></li>
            <li class="menu__list-item">саламаат = <span id="big_heal"></span></li>
          </ul>
        </nav>
        <a href="/main_menu">
          Сбежать
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <h1 class="level"><b>Уровень : </b><span id="fight__id"><%= fightID %></span></h1>
    <div class="enemy">
      <!-- <img src="../static/resources/images/background__1.png" alt="" id="background__image" class="background__img"> -->
      <img src="../static/resources/images/unknown__1.png" alt="" id="enemy__image" class="enemy__png">
    </div>
    <div id="myProgress">
      <div id="myBar"></div>
    </div>
    <li class="menu__list-item">Здоровье противника = <span id="e_health"></span></li>
    <div class="buttons__div">
      <button class="buttons" onclick="health = sattack(health);">сильный удар</button>
      <button class="buttons" onclick="health = attack(health);">удар</button>
      <button class="buttons" onclick="health = heal(health);">выпить быырпах</button>
      <button class="buttons" onclick="health = bigheal(health);">съесть саламаат</button>
    </div>
    <br>
  </div>
  <script src="../static/js/figth.js" charset="utf-8"></script>
  <script src="../static/js/figthID.js" charset="utf-8"></script>
</body>
</html>
