.equipment__div {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
.equipment__list__div {
  width: 200px;
  height: 150px;
}
.equipment__list-item + .equipment__list-item {
  margin-left: 50px;
}
.weapons__list {
  display: flex;
}
.armors__list {
  display: flex;
}
