button {
  background-color: #000; /* Green */
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 72px;
  margin-right: auto;
  
}
button:hover {
  background-color: #ffffff;
  color: black;
}
button:active {
  background-color: #000;
  color: #fff;
}
.start__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.name {
  font-size: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
