<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <!--  -->
        <a href="http://127.0.0.1:5000/" class="logo">
          <img src="{{ url_for('static', filename='img/VicThun.png')}}" alt="logo__img" class="logo">
        </a>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="http://127.0.0.1:5000/Projects">Проекты</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Обо мне</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </header>
  <div class="container">
    <div class="main__content">
      {% block body %}{% endblock %}
    </div>
  </div>
</body>
</html>
